# Environment files
.env
.env.local
.env.*.local

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# Backend
backend/tmp/
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store 